@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');* {
    margin: 2px
}


.website-header {
    display: flex;
    text-align: center;
    font-size: 80px;
    background: orange;
    margin-top: 0px;
    color: white;
    font-weight: 20px;
    font-family: 'Rubik Pixels', cursive;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.reaction-time-link {
    cursor: pointer;
    flex: 1;
    flex-grow: 1;
}

.typing-test-link {
    flex-grow: 1;
}

.explosion {
    width: 350px;
    height: 140px;
    border-radius: 10px;
}

.meteor {
    width: 300px;
    height: 100px;
    border-radius: 8px;
    align-content: center;
    margin-top: 30px;
}